# Dependencies
/node_modules

# Build directory
/dist

# Environment variables
/.env

# IDE/Editor folders
/.vscode
/.idea

# Operating System files
.DS_Store
Thumbs.db

# Zips
*.zip

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache directories
.cache/
.parcel-cache/


# Package manager lock files
package-lock.json

